.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.select {
  margin-bottom: 50px;
  padding: 0px 20px;
  width: max-content;
  text-transform: capitalize;
  height: 25px;
  border-radius: 5px;
  background-color: var(--bg);
  color: var(--textColor);
  border: 1px solid var(--textColor);
  font-size: 16px;
}

.category {
  display: flex;
  gap: 20px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.editor {
  display: flex;
  gap: 20px;
  flex-direction: column;
  position: relative;
}

.button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* color: #b3b3b1; */
}

.label {
  cursor: pointer;
}

/* .plus {
  width: 75%;
  height: 75%;
}

.icon {
  width: 50%;
  height: 50%;
  font-weight: bold;
  color: #1a8917;
} */

.addButton {
  border-color: #1a8917;
}

.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 50px;
}

.textArea {
  width: 100%;
  margin-top: 75px;
}

.title {
  padding: 50px;
  font-size: 64px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColor);
}

.title::placeholder {
  color: #b3b3b1;
}

.publish {
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}
